.wojtek.number:after {
    content: "21";
}
.wojtek.verbIng:after {
    content: "swimming";
}
.wojtek.famousMan:after {
    content: "Joseph Stalin";
}
.wojtek.famousMan2:after {
    content: "Jesus";
}
.wojtek.famousMan3:after {
    content: "Donald Tusk";
}
