.wojtek.number:after {
    content: "";
}
.wojtek.verbIng:after {
    content: "";
}
.wojtek.famousMan:after {
    content: "";
}
.wojtek.famousMan2:after {
    content: "";
}
.wojtek.famousMan3:after {
    content: "";
}
